.k-widget {
    font-size:12px;
    color:#000;
}
.k-block {
    font-size:12px;
    line-height: 0.52857;
    color:#000;
}
.k-alt {
    font-size:12px;
    height:15px;
    line-height: 0.32857
}
.k-grid-table  tr{
    line-height: 14px;
}

.k-grid tr {
     border-color: inherit;
     line-height: 14px;
     margin: 0px;
}

.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer, .k-drag-clue {
  color: #000;;
  background-color: #f6f6f6;
}
.k-button {
    font-size:12px
}
