          <div kendoDialogContainer></div>

           <kendo-tabstrip  (tabSelect)="selectAircraft($event)">
              <kendo-tabstrip-tab [title]="'Z-ZHC'" [selected]="true">

                <ng-template kendoTabContent>
                  <div class="row text-center">
                      <div class="col-md-4">
                      <span style="color:black;font-size:16px;align:left"><b>Total({{total}})</b></span>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Previous
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                            Today
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Next
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="view = 'month'"
                            [class.active]="view === 'month'">
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'week'"
                            [class.active]="view === 'week'">
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'day'"
                            [class.active]="view === 'day'">
                            Day
                          </div>
                        </div>
                      </div>
                    </div>
                    <context-menu #basicMenu>
                  <ng-template contextMenuItem (execute)="addEvent($event.item)">
                   Add event
                     </ng-template>
                   </context-menu>
                    <br>
                    <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                         [cellTemplate]="monthCellTemplate">
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [headerTemplate]="weekHeaderTemplate">
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [dayStartHour]="7"
                        [dayEndHour]="18"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [hourSegments]="4"
                        [eventWidth]="250"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [hourSegmentTemplate]="dayHourSegmentTemplate">
                      </mwl-calendar-day-view>
                    </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Z-HUP'">
                <ng-template kendoTabContent>
                    <div class="row text-center">
                     
                      <div class="col-md-4">
                       <span style="color:black;font-size:16px;align:left"><b>Total({{total}})</b></span>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Previous
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                            Today
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Next
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="view = 'month'"
                            [class.active]="view === 'month'">
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'week'"
                            [class.active]="view === 'week'">
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'day'"
                            [class.active]="view === 'day'">
                            Day
                          </div>
                        </div>
                      </div>
                    </div>
                    <context-menu #basicMenu>
                  <ng-template contextMenuItem (execute)="addEvent($event.item)">
                   Add event
                     </ng-template>
                   </context-menu>
                    <br>
                   <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                         [cellTemplate]="monthCellTemplate">
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [headerTemplate]="weekHeaderTemplate">
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [dayStartHour]="7"
                        [dayEndHour]="18"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [hourSegments]="4"
                        [eventWidth]="250"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [hourSegmentTemplate]="dayHourSegmentTemplate">
                      </mwl-calendar-day-view>
                    </div>

                    <br><br><br>


                   

                   



                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Z-WLY'">
                <ng-template kendoTabContent>
                  <div class="row text-center">
                      
                      <div class="col-md-4">
                      <span style="color:black;font-size:16px;align:left"><b>Total({{total}})</b></span>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Previous
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                            Today
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Next
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="view = 'month'"
                            [class.active]="view === 'month'">
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'week'"
                            [class.active]="view === 'week'">
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'day'"
                            [class.active]="view === 'day'">
                            Day
                          </div>
                        </div>
                      </div>
                    </div>
                    <context-menu #basicMenu>
                  <ng-template contextMenuItem (execute)="addEvent($event.item)">
                   Add event
                     </ng-template>
                   </context-menu>
                    <br>
                    <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                         [cellTemplate]="monthCellTemplate">
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [headerTemplate]="weekHeaderTemplate">
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [dayStartHour]="7"
                        [dayEndHour]="18"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [hourSegments]="4"
                        [eventWidth]="250"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [hourSegmentTemplate]="dayHourSegmentTemplate">
                      </mwl-calendar-day-view>
                    </div>



                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Z-SCA'">
                <ng-template kendoTabContent>
                  <div class="row text-center">
                      <div class="col-md-4">
                      <span style="color:black;font-size:16px;align:left"><b>Total({{total}})</b></span>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Previous
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                            Today
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Next
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            (click)="view = 'month'"
                            [class.active]="view === 'month'">
                            Month
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'week'"
                            [class.active]="view === 'week'">
                            Week
                          </div>
                          <div
                            class="btn btn-primary"
                            (click)="view = 'day'"
                            [class.active]="view === 'day'">
                            Day
                          </div>
                        </div>
                      </div>
                    </div>
                    <context-menu #basicMenu>
                  <ng-template contextMenuItem (execute)="addEvent($event.item)">
                   Add event
                     </ng-template>
                   </context-menu>
                    <br>

                    <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                         [cellTemplate]="monthCellTemplate">
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [headerTemplate]="weekHeaderTemplate">
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [dayStartHour]="7"
                        [dayEndHour]="18"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [hourSegments]="4"
                        [eventWidth]="250"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        [hourSegmentTemplate]="dayHourSegmentTemplate">
                      </mwl-calendar-day-view>
                    </div>

                </ng-template>
              </kendo-tabstrip-tab>

              <!--Pax Recon -->
                <kendo-tabstrip-tab [title]="'PAX RECON'">
                <ng-template kendoTabContent>
                  <div class="row text-center">
                      <div class="col-md-4">
                      <span style="color:black;font-size:16px;align:left"><b>Total({{total}})</b></span>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group">
                          <div
                            class="btn btn-primary"
                            mwlCalendarPreviousView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Previous
                          </div>
                          <div
                            class="btn btn-outline-secondary"
                            mwlCalendarToday
                            [(viewDate)]="viewDate">
                            Today
                          </div>
                          <div
                            class="btn btn-primary"
                            mwlCalendarNextView
                            [view]="view"
                            [(viewDate)]="viewDate">
                            Next
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <div class="col-md-4">
                       
                      </div>
                    </div>
                   
                    <br>

                     <h3 >

                  
                       <font color="red"> {{errorMessage}}</font>
                        <font color="green"> {{successMessage}}</font>
                     
                     
                      <button
                        class="btn btn-primary pull-right"
                        (click)="closeDay()">
                        Close Day
                      </button>
                      <div class="clearfix"></div>
                    </h3>

                    <table class="table table-bordered">

                      <thead>
                        <tr>
                          <th></th>
                          <th>Booking #</th>
                          <th>Paxname</th>
                          <th>POS Pax - {{getPOSTotal()}}</th>
                          <th>Flow Chart - {{getFlowChartTotal()}}</th>
                          <th>Reason</th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let item of paxReconItems; let index = index">
                          <td>
                            <button  *ngIf="item.ActualPax != item.FlowChartPax"
                              class="btn btn-danger btn-small"
                              >
                            
                            </button>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                                  readonly
                              [(ngModel)]="item.BookingID"
                             >
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                                  readonly
                                size="60"
                              [(ngModel)]="item.Paxname"
                             >
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              readonly
                              [(ngModel)]="item.ActualPax"
                              size="10"
                              >
                          </td>
                          <td>
                             <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="item.FlowChartPax"
                              readonly
                              size="10"
                              >
                          </td>
                          <td>
                           <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="item.Reason"
                               size="30"

                              >
                          </td>
                          <td>
                           <button *ngIf="item.ActualPax!=item.FlowChartPax"
                        class="btn btn-primary pull-right"
                        (click)="updatePax(item)">
                        Update
                      </button>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                    




                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>


<context-menu #basicMenu>
  <ng-template contextMenuItem (execute)="addEvent($event.item)">
    Add Flight
  </ng-template>
</context-menu>


<ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked">

  <div class="fill-height" [contextMenu]="basicMenu" [contextMenuSubject]="day.date">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cal-events">
      <div
        class="cal-event"
        *ngFor="let event of day.events"
        [style.backgroundColor]="event.color.primary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
      </div>
    </div>
  </div>
</ng-template>


<ng-template #weekHeaderTemplate let-days="days" let-locale="locale" let-dayHeaderClicked="dayHeaderClicked">
  <div class="cal-day-headers">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [class.cal-drag-over]="day.dragOver"
      (click)="dayHeaderClicked.emit({day: day})"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="day.date">
      <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br>
      <span>{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span>
    </div>
  </div>
</ng-template>

<ng-template #dayHourSegmentTemplate let-segment="segment" let-locale="locale">
  <div
    class="cal-hour-segment"
    [ngClass]="segment.cssClass"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="segment.date">
    <div [hidden]="!segment.isStart" class="cal-time">
      {{ segment.date | calendarDate:'dayViewHour':locale }}
    </div>
  </div>
</ng-template>


<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h6 class="modal-title">{{ modalData?.event.title }}</h6>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>

                    <table class="table table-bordered">

                      <thead>
                        <tr>

                          <th>Aircraft</th>
                          <th>Pilot</th>
                          <th>Fligh Time</th>


                        </tr>
                      </thead>

                      <tbody>
                        <tr>

                          <td>
                           <div class="form-group">
                              <kendo-combobox [data]="aircraftItems"     [textField]="'RegNumber'" [valueField]="'ID'" [(ngModel)]=" modalData?.event.aircraft"   [placeholder]="'Aircraft'">
                                </kendo-combobox>
                                <br>
                                &nbsp;
                                <br>
                                <label><b>Pax</b></label><br>
                                <input #box (keyup)="onKey(box.value)" [ngModel]="paxEdit" class="k-textbox small" id="pax" type="number" min="0" max="6"  >

                                <br>
                                &nbsp;
                                <br>
                                <label><b>Final</b></label><br>
                                <kendo-switch [(ngModel)]=" modalData?.event.final"></kendo-switch>
                                <br>
                                <label><b>Revoke</b></label><br>
                                <kendo-switch [(ngModel)]=" modalData?.event.Unfinalise"></kendo-switch>
                            </div>

                          </td>
                          <td >
                           <div class="form-group">
                              <kendo-combobox [data]="pilotItems"     [textField]="'name'" [valueField]="'staffid'" [(ngModel)]="modalData?.event.pilot"   [placeholder]="'Pilot'">
                              </kendo-combobox>
                              <br>
                                &nbsp;
                                <br>
                                <label><b>Voucher #</b></label><br>
                                <input #voucher [ngModel]="modalData?.event.voucher" (ngModelChange)="valueChange($event)" class="k-textbox" id="voucher" type="text">
                            </div>
                             
                          </td>
                          <td>
                              <mwl-demo-utils-date-time-picker
                                [(ngModel)]=" modalData?.event.start"
                                (ngModelChange)="refresh.next()"
                                placeholder="Not set">
                              </mwl-demo-utils-date-time-picker>

                          </td>


                        </tr>


                      </tbody>

                    </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close();saveCopy(modalData?.event ,template)">Split Group</button>
    <button type="button" class="btn btn-primary" (click)="close();save(modalData)">Update</button>
  </div>
</ng-template>
<ng-template #template>
<p style="margin: 30px;">Take <br>
<input [(ngModel)]="newPax" class="k-textbox" id="newPax" type="number" min="0" max="6">
<button kendoButton [togglable]="true" (click)="update()"> Ok</button>
<button kendoButton [togglable]="true" (click)="togglePopup(template)">Cancel</button>
</p>
<p *ngIf="errorPax" style="font-style: italic;color: red">Invalid number of pax</p>

</ng-template>
