.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}

.k-scrollview-wrap {
  margin: 0 auto;
}
 .demo-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  text-align: center;
  font-size: 24px;
}

 .fill-height {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    
    }

    .small {

      width:100px;
      height:40px;
      font-size:20px;
      font-weight:bold;
    }

    .medium {

      width:200px;
      height:40px;
      font-size:20px;
      font-weight:bold;
    }

