
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Pilot</h5> 
                    </div>
                    <div class="panel-body">
                       
                              <fieldset>
                                
                                <div class="row" style="margin-top: 5px">
                                    <div class="col-sm-12 col-md-10" style="margin-left: 40px">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span> 
                                                <kendo-combobox [data]="listItems"     [textField]="'name'" [valueField]="'staffid'" [(ngModel)]="pilot"   [placeholder]="'Pilot'">
                              </kendo-combobox>
                                            </div>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </fieldset>
                    
                   </div>
               </div>