body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #f6f6f6;
}

.LargeInput { width: 100%; height: 10px; }

.k-widget ,k-block {
  color: #000;
}


.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer, .k-drag-clue {
  color: #000;;
  background-color: #f6f6f6;
}


