/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/all";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~angular-calendar/dist/css/angular-calendar.css";

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #f6f6f6;
}

.k-widget ,k-block {
  color: #000;
}

.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer, .k-drag-clue {
  color: #000;
  background-color: #f6f6f6;
}

.k-textbox, .k-input.k-textbox, .k-textarea {
  width: 260px

}

.k-autocomplete, .k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-multiselect, .k-numerictextbox, .k-maskedtextbox, .k-timepicker {
 width:200px
}

input.large {
  width:400px
}

.small {
  width:123px
}


.notes {
  width:650px
}

